<div style="background-color: olive; color: white">
    {% for data in dataset %}
    <label>Product name: </label>
    {{data.product_name}}
    <br/> <br/>
    <label>Product Category: </label>
    {{data.product_category}}
    <br/> <br/>
    <label>Product description: </label>
    {{data.product_description}}
    <br/> <br/>
    <label>Product Price: </label>
    {{data.product_price}}
    <br/> <br/>
    <label>Product quantity: </label>
    {{data.product_quantity}}
    
    <hr />
    {% endfor %}
</div>